[Desktop Entry]
Encoding = UTF-8
Name = SystemdD Units
Comment = Control SystemD Units
Type = Service

X-KDE-ParentApp =
X-KDE-PluginInfo-Author = Michael Jansen
X-KDE-PluginInfo-Email = kde@michael-jansen.biz
X-KDE-PluginInfo-License = GPL
X-KDE-PluginInfo-Name = org.kde.systemd
X-KDE-PluginInfo-Version = 2.0
X-KDE-PluginInfo-Website = michael-jansen.name
X-KDE-ServiceTypes = Plasma/Applet
X-Plasma-API = declarativeappletscript
X-Plasma-MainScript = ui/main.qml
X-KDE-PluginInfo-Category = System Information